/*===========Heather Mathies 2017=======================*/
body {
    background-image: url('../images/eclipse-background.jpeg');
    background-attachment: relative;
    background-position: center;
}
html, body, .main-div {
    height: 100%;
    color: white;
}
.gameTitle {
    margin-top: 1.2em;
    font-size: 30px;
    text-align: center;

    z-index: 999;
}
#timer{
  text-align: center;

  z-index: 999;
}

#questionPage{
  text-align: center;
  display: inline-block;
  align-items: center;
  max-width: 400px;
  opacity: 1;
  z-index: 999;

}
#question{

  margin: 5px;
  text-align: center;
}

button {
  border-color: gold;
  background-color: gold;
  color: black;


}
#c-or-i {
  text-align: center;
}
.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

/*===========================MEDIA QUERIES============================*/
@media only screen and (max-width: 767px) {
    body {
        background-image: url('../images/sun_earth_eclipse.jpg');
        background-attachment: relative;
        background-position: center;
        z-index: 1;

    }
    .main-div {
        position: relative;
        z-index: 999;

    }


  }


@media only screen and (max-width: 440px) {
    body {
        background-image: url('../images/sun_earth_eclipse.jpg');
        background-attachment: relative;
        background-position: center;
        z-index: 1;

    }
    .main-div {
        position: relative;
        z-index: 999;

    }


  }

  /*=======================END OF FILE===============================*/
